<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/css/AdminLTE.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/adminlte.min.js"></script>
    <script src="/static/js/fabric.min.js"></script>
    <script src="/static/js/pdf_form.js"></script>
</head>
<body class="skin-blue layout-top-nav">
    <section class="content-header">
        <h1> 帳票電子化デザイナー</h1>
    </section>
    <section>
        <div class="row col-sm-12">
            <button class="btn btn-success col-sm-3" id="save_format_2DB">フォームデータの保存</button>
            <button class="btn btn-success col-sm-3" id="load_format_fromDB">フォームデータの読み込み</button>
            <button class="btn btn-success col-sm-3" id="gen_form">フォーム作成</button>
            <button class="btn btn-success col-sm-3" id="gen_pdf">PDF化</button>
        </div>
    <section>
    <section>
        <div class="row col-sm-12">
            <div class="col-sm-8 box box-default">
                <div class="box-body">
                    <canvas id="c"></canvas>
                    <img src="/static/img/demo2-2.png" id="my-image" style="display:none;">
                </div>
            </div>
            <div class="col-sm-4 box box-default" style="background-color:#e8e8e8">
                <div class="box-body">
                    <div style="margin-top:100px">
                    <form id="form-area">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <div class="box-body">
                <div class="row col-sm-12">
                    <div class="col-sm-6 row">
                        <input type="button" class="btn btn-primary col-sm-2" value="JSON化" id="json-btn">
                        <textarea id="json-out" class="col-sm-10" rows=3></textarea>
                    </div>
                    <div class="row col-sm-6">
                        <input type="button" class="btn btn-primary col-sm-2" value="JSONを読み込む" id="load-json">
                        <textarea id="json-in" class="col-sm-10" rows=3></textarea>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="col-sm-6 row">
                        <input type="button" class="btn btn-primary col-sm-2" value="JSON化ver2" id="json-btn2">
                        <textarea id="json-out2" class="col-sm-10" rows=3></textarea>
                    </div>
                    <div class="col-sm-6 row">
                        <input type="button" class="btn btn-primary col-sm-2" value="フォーム生成" id="load-json2">
                        <textarea id="json-in2" class="col-sm-10" rows=3></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="file_dl"></div>

    <!-- 注入スクリプト -->
    <script>
        /* あれば読む */
        var json_data = '{{ json_data }}';
        $(function(){
            if (json_data){ 
                // デコードする
                json_data = $('<div/>').html(json_data).text();
                console.log(json_data);
                app.load_dataJson(json_data); 
            }
        });
    </script>
</body>
</html>
